@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
  width: 95%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 35%;
}

.nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
  color: #33505e;
}

.logo {
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 1.2rem;
  color: #0e2431;
}

.logo i {
  position: absolute;
  top: 6px;
  right: 205px;
  font-size: 1.8rem;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}

